body{
    background-color: azure;
    font-family: serif;
}

.mainHeading{
    font-family: Georgia;
    font-size: 32px;
    margin-left: 30px;
}

.mainPageText{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
 
}

.nav{
    margin-top: 10px;
    margin-left: 45px;
}

.button{
    background-color: aqua;
    height: 40px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 12px;
}

